@{
    ViewData["Title"] = "Homepage";
}
@{
    <p>@TempData["CustomError"]</p>
}
<h1><code>Welcome to the Wall!</code></h1>
<h3>Log in:</h3>
<form action="/loggingIn" method="POST">
    Email: <input name="useremail" type="email"/><br>
    Password: <input name="userpassword" type="password"/><br>
    <button type="submit">Log In</button>
</form><hr>
<h3><code>Need an account? Register here:</code></h3>
<form action="/register" method="POST">
    First Name: <input name="fname" type="text"/><br>
    Last Name: <input name="lname" type="text"/><br>
    Email: <input name="useremail" type="email"/><br>
    Password: <input name="userpassword" type="password"/><br>
    <button type="submit">Register</button>
</form>
