<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="~/css/styles.css"/>
    </head>
    <body>
        <a class="linktags" href="/contacts">Contacts</a>
        <a class="linktags" href="/projects">Projects</a>
        <h1 id="header">Justin Biddle:</h1>
        <img id="portrait" src="~/img/legoman.png" alt="Lego Man Image">
        <h4 id="aboutmetitle">About Me:</h4>
        <textarea id="aboutme" rows="10" cols="50">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis amet omnis, esse voluptatibus commodi consectetur reiciendis quia perferendis laborum fuga perspiciatis repellat modi voluptatum quod iure error doloribus? Vel, dolorem.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam inventore mollitia, rerum error id earum suscipit hic quia optio. Quidem exercitationem quis, similique fugiat cupiditate atque distinctio soluta unde incidunt.
        </textarea>
    </body>
</html>