<!DOCTYPE html>

<html>
    <head>
        <title>Projects</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="~/css/styles.css"/>
    </head>
    <body>
        <a class="linktags" href="/">Home</a>
        <a class="linktags" href="/contacts">Contacts</a>
        <!-- <h1 id="header">Justin Biddle:</h1>
        <h4 id="aboutmetitle">About Me:</h4>
        <textarea id="aboutme" rows="10" cols="50">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis amet omnis, esse voluptatibus commodi consectetur reiciendis quia perferendis laborum fuga perspiciatis repellat modi voluptatum quod iure error doloribus? Vel, dolorem.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam inventore mollitia, rerum error id earum suscipit hic quia optio. Quidem exercitationem quis, similique fugiat cupiditate atque distinctio soluta unde incidunt.
        </textarea> -->
        <h1 id="projheader">Projects:</h1>
        <div id="time">
            <h3>Time Display:</h3>
            <p>Created a project that displays current date and time.</p>
        </div>
        <img id="timeproj" src="~/img/clock.png" alt="Clock Image">
        <div id="time">
            <h3>rAPI:</h3>
            <p>Explored joining and manipulating data to display to a web page.:</p>
        </div>
        <img id="timeproj" src="~/img/music.png" alt="Clock Image">
        <div id="time">
            <h3>Calling Card:</h3>
            <p>Add and Delete contacts and manipulate them in the database.</p>
        </div>
        <img id="timeproj" src="~/img/database.png" alt="Clock Image">
    </body>
</html>