<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dojo Survey Form</title>
    </head>
    <body>
        <div id="wrapper2">
            <div id="secondhead">
                <form action="/results" method="post">
                    Your name: <input type="text" name="name">
                    Dojo Location: <select name="location">
                    <option name="location">California</option>
                    <option name="location">Washington</option>
                    <option name="location">Oregon</option>
                    </select>
                    Favorite Language: <select name="lang">
                    <option name="lang">Python</option>
                    <option name="lang">JavaScript</option>
                    <option name="lang">C++</option>
                    </select>
                    Comment: <input type="text" name="comment">
                    <input type="submit">
                </form>
            </div>
        </div>
    </body>
</html>
