<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reg Form Demo</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/register" method="POST">
        <label for="email">Email: <input id="email" type="text" name="email"></label><br>
        <label for="name">First Name: <input id="name" type="text" name="fname"></label><br>
        <label for="last">Last Name: <input id="last" type="text" name="lname"></label><br>
        <label for="pass">Password: <input id="pass" type="password" name="pw"></label><br>
        <label for="conf">Confirm Password: <input id="conf" type="password" name="confpw"></label><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
