<!DOCTYPE html>

<html>
    <head>
        <title>Information</title>
        <meta charset='utf-8'>
    </head>
    <body>
        <h2>Submitted Info:</h2>
        <p>Name: @ViewBag.Name</p>
        <p>Location: @ViewBag.Location</p>
        <p>Language: @ViewBag.Language</p>
        <p>Comment: @ViewBag.Comment</p>
        <a href="/">Go Back</a>
    </body>
</html>