<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>WALL</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div id="wallwrapper">
            <div id="wallheader">
                <h1 id="title">WELCOME TO THE WALL, {{session['name']}}!</h1>
                <a id="logbutton" href="/logout">Log Out</a>
            </div>
            <div id="messagebox">
                <h3>Post a message:</h3>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form id="messagearea" action="/postmessage" method="post">
                    <textarea name="post" rows="4" cols="50"></textarea>
                    <input type="submit" value="POST!">
                </form>
                <table>
                {% for j in join %}
                    <tr>
                        <td>{{j.first_name}}   {{j.last_name}}   {{j.created_at}}</td>
                    </tr>
                    <tr>
                        <td>{{j.message}}</td>
                    {% for c in comm%}
                    {% if j.message_id == c.message_id%}
                    <tr>
                        <td>{{c.first_name}}   {{c.last_name}}   {{c.created_at}}</td>
                    </tr>
                    <tr>
                        <td>{{c.comment}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            <form id="commentarea" action="/postcomment" method="post">
                                <input type="hidden" name="message_id" value='{{j.message_id}}'>
                                <textarea name="comment" rows="2" cols="25"></textarea>
                                <input type="submit" value="COMMENT!">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>
