<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friends</title>
</head>
<body>
    <h1>Friends:</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Friends Since</th>
            <th></th>
        </tr>
        {% for friend in friends %}
        <tr>
            <td>{{friend.name}}</td>
            <td>{{friend.age}}</td>
            <td>{{friend.friends_since}}</td>
        </tr>
        {% endfor %}
    </table>
    <h1>Add a Friend:</h1>
    <form action="/add_friend" method="post">
        <label for="name">Name:<input id="name" type="text" name="name"></label>
        <label for="age">Age: <input id="age" type="number" name="age"></label>
        <label for="friends">Friends Since: <input id="friends" type="date" name="friends"></label>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
