@{
    ViewData["Title"] = "Home Page";
}
<h1><code>Welcome to Dojo League!</code></h1>
<h3><code>Register a ninja:</code></h3>
<form action="/register" method="POST">
    First Name: <input name="fname" type="text"/><br>
    Last Name: <input name="lname" type="text"/><br>
    Email: <input name="useremail" type="email"/><br>
    Password: <input name="userpassword" type="password"/><br>
    <button type="submit">Register</button>
</form>
