@{
    ViewData["Title"] = "Home Page";
}
<h1><ins>Registration Form</ins></h1>
<form action="/logging" method="post">
    <marquee direction="down" behavior="alternate" width="970" height="100">
        <marquee behavior="alternate"><p>First Name: <input type="text" name="fName"></p></marquee>
    </marquee>
    <marquee direction="right" behavior="alternate"><p>Last Name: <input type="text" name="lName"></p></marquee>
    <marquee behavior="alternate" width="970" height="100">
        <marquee behavior="alternate"><p>Email Address: <input type="text" name="userEmail"></p></marquee>
    </marquee>
    <marquee direction="up" behavior="alternate" width="970" height="250">
        <marquee behavior="alternate"><p>Age: <input type="number" name="userAge"></p></marquee>
    </marquee>
    <marquee direction="right" behavior="alternate" width="970" height="100">
        <marquee behavior="alternate"><p>Password: <input type="password" name="userPassword"></p></marquee>
    </marquee>
    <marquee direction="up" behavior="alternate" width="970" height="75">
        <marquee behavior="alternate"><input type="submit" value="Submit"></marquee>
    </marquee>
</form>
